<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Snippet</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <%- include('Header') %>

        <div class="snippet-cont">
            <%- include('msg', { title: 'editsnippet' , success_msg: success_msg, error_msg: error_msg }) %>

                <h2 class="snippet-tit">Edit Your Snippet</h2>

                <form action="/editSnippet/<%= snippet._id %>" method="POST">
                    <div class="snippet-form">
                        <label class="snippet-data" for="title">Snippet Title:</label>
                        <input class="snippet-data" type="text" id="title" name="title" value="<%= snippet.title %>"
                            required>
                    </div>

                    <div class="snippet-form">
                        <label class="snippet-data" for="content">Snippet Content:</label>
                        <textarea class="snippet-text" id="content" name="content" rows="5"
                            required><%= snippet.content %></textarea>
                    </div>

                    <button type="submit" class="submit-btn">Update Snippet</button>
                </form>
        </div>
</body>

</html>